.container-home {
  display: flex;
  height: 200px;
  width: 400px;
  background-color: #fafafa;
  align-items: center;
  margin: auto;
  margin-top: 25vh;
  border-radius: 20px;
}

.container-data {
  display: flex;
  height: 100px;
  width: 600px;
  background-color: #fafafa;
  align-items: center;
  margin: auto;
  border-radius: 20px;
}

.title-home {
  color: #80e4a5;
  text-align: center;
  margin-left: 110px;
  margin-top: -110px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 35px;
  position: absolute;
}

.title-data {
  visibility: hidden;
}

.form {
  margin-left: auto;
  margin-right: auto;
}

.search-bar {
  border-radius: 20px;
  padding-left: 10px;
  height: 30px;
}

.submit {
  margin-left: 10px;
  border-radius: 20px;
  padding: 5px 15px;
  background: #ccc;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.submit:hover {
  background-color: lightgreen;
}
